

.navbar-nav > li > a:hover {
padding-top: 40px;
padding-bottom: 30px;
-webkit-transition: color ease-in-out 0.2s;
transition: color ease-in-out 0.2s;
background-color: #2571b2;
color: white;
background-image: -webkit-linear-gradient(#4b8bc2, #0058a3);
background-image: -moz-linear-gradient(#4b8bc2, #0058a3);
background-image: -ms-linear-gradient(#4b8bc2, #0058a3);
background-image: -o-linear-gradient(#4b8bc2, #0058a3);
background-image: linear-gradient(#4b8bc2, #0058a3);
}

a {
color: #0058a3;
text-decoration: none;
}
body {
color: #565656;
}

.logo {
    height : 52px;
    vertical-align:middle;
    margin-bottom: 20px;
}

.navbar {
min-height: 90px;
}
.navbar-brand {
height: 90px;
}

.navbar-nav > li > a {
padding-top: 40px;
padding-bottom: 30px;
-webkit-transition: color ease-in-out 0.2s;
transition: color ease-in-out 0.2s;
font-size: 19px;
-webkit-font-smoothing: antialiased;
}
.navbar-form {
    padding-top: 20px;
    padding-bottom: 5px;
}
